@media (max-width: 1050px){
    .card {
        width: 35%;
        display: flex;
    }
    .username button{flex-grow: 2;}
    .container button {flex-grow: 1.2;}
    .container {width: 36%;}
    li a {padding: 0 60px;}
    #toDoBox {width: 36%;}
}
@media (max-width: 790px){
    .card {width: 50%;}
    nav h1 {font-size: 20px;}
    .container button {flex-grow: 2;}
    .container {width: 45%;}
    li a {padding: 0 40px;}
    #toDoBox {width: 44%;}
}
@media (max-width: 570px){
    .card {width: 70%;}
    .dekstop, #dekstop li,#dekstop li a{display: none}
    label {display: block;}
    .container {width: 60%;}
    .container button {flex-grow: 4;}
    h1 {padding-left: 8px;}
    li a {
        color: black;
        text-decoration: underline;
    }
    li {margin-top: 13px;}
    #mobile{
        display: block;
        position: fixed;
        right: -30rem;
        transition: 1s;
        border: 2px solid black;
        background-color: white;
        border-radius: 2px;
        height: 100%;
        height: 18%;
        top: 3rem;
        width: 35%;
    }
    #toDoBox {width: 60%;}
    #notif {
        font-size: 15px;
        display: block;
        width: 60%;
        padding: 6px;
        text-align: justify;
        margin: auto;
        background-color: rgba(196, 150, 58, 0.349);
        border: 2px solid rgba(196, 150, 58, 0.856);
    }
    #notif.disable{visibility: hidden;}
    #notif p{margin-top: -7px;}
    #notif > a {
        color: black; 
        text-decoration: none; 
        display: flex; 
        flex-direction: row-reverse;
    }
}
@media (max-width: 410px){
    .container{width: 80%;}
    #toDoBox {width: 80%;}
    .username{width: 100%}
    .username button {flex-grow: 2;}
}
@media (max-width: 350px){
    nav h1 {font-size: 16px;}
    .container{width: 90%;}
    .username{width: 100%; margin: 10px auto;}
    .username button {flex-grow: 2;}
    #toDoBox {width: 90%;}
}
@media (max-width: 290px){
    .container input {width: 70%;}
    .card {width: 90%;}
    .username input {width: 100%;}
    .container button {flex-grow: 2;}
    .username{width: 80%; margin: 10px auto;}
}